.card_profil{
  display: none;
  &.visible {
    display: block;
  }
  position: relative;
  & > section{
    transition: 2s;
    position: absolute;
    border-radius: $border-radius-base;
    background-color: $color-white;
    padding: 15px 0;
    box-shadow: $box-shadow-base;
    & > div{
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
      margin-bottom: 5px;
      flex-direction: row;
      background-color: #fff;
      & >div {
        background-color: #fff;
      }
      & > span{
        display: flex;
        &:first-child{
          margin-right: 10px ;
        }
        span{
          font-weight: 900;
          padding-left: 5px;
        }
      }
      &:nth-child(2) {
        flex-direction: column;
      }
    }
  }
}

.container-abonnement{
  & > div{
    display: flex;
  }
  & > div:first-child{
    margin-right: 10px;
  }
  & > div:last-child{
    margin-left: 10px;
  }
}

.container-medaillon-other{
  flex-direction: row;
  & >div:first-child{
    height: 30px;
    flex: 0 35px;
  }
  & > div:last-child{
    flex: 0 100%;
    margin-left: 15px;
  }
}
