.left-section{
    //flex: 0 0 275px;
    //flex: 0 0 68px;
    // display: flex;
    // width: 68px;
    // height: 100%;
    overflow: hidden auto;

    ul{
        padding: 0 5px;
        flex-direction: column;
        flex: 0 auto;
        display: flex;
        align-items: center;
        li{
            padding: 15px;
            display: flex;
            align-content: center;
            text-align: center;
            padding: 5px 0;
            a{
                
                &:hover{
                    & > span{                                  
                       background-color: $link-color-hover;
                       color : $link-color;
                    }
                }
                & > span{
                    padding: 15px;                    
                    display: flex;
                    span{
                        font-size: 19px;
                        font-weight: bold;
                        
                        vertical-align: middle;
                    }                
                } 
            }
        }
    }
}
.hide{
    display: none;
}
.left-section-img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}


