// combine section middle and rigth


.header {
    height: 53px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-bottom:  $border-site;
    div:nth-child(2){
        p{
            
            &:nth-child(2){
                font-size: 12px;
                color: $color-gray;
                font-weight: bolder;
            }
        }
    }

}


.arrow-left {
    padding: 7px;
    margin: 10px;
    &:hover {        
        border-radius: 50%;
        background-color: $link-color-hover;
    }
}



.content-profil{
    background-color: $color-white;
}

.header-profil{
    background-color: rgb(204, 214, 221);
    padding-bottom: 33.33%;
}


.container-action-profil{
    position: relative;
    height: 49px;
    margin-bottom: 30px;
    display: flex;
    justify-content: end;
    span{
        align-self: center;
    }
}

.image-profil{
    border: 2px solid white;
    //height: 80px;
    width: 25%;
    position: absolute;
    overflow: hidden;
    top: -60px;
    left: 0px;
    img {        
        display: block;
        max-width: 100%;
        min-height: 100%;
    }
}

.container-info{
    color: $color-gray;
    & > p {
        display: flex;
        margin-bottom: $spacing-xs;
        span {               
            span{
                font-weight: bolder;
                color: black;                
            }
            &:last-child{
                span{
                    margin-left: $spacing-sm;}
                }
        }        
    }

}
.ligne1:first-child{

    display: flex;

    & > div:first-child{
        display: flex;
        font-size: 13px;
        align-items: flex-end;
    }
}

.ligne1{
    & > div:first-child {
        display: flex;
        font-size: 13px;
        align-items: flex-end;
        .fas{
            display: block;
        }
    }
}
.container-tweet article{
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: $border-site;

    padding: 10px 20px;
        & > div {
            & > div:first-child{
                flex: 0 49px;
            }
            display: flex;
            & > div:last-child {
                flex-basis: 100%;
                padding-left: 8px;
            }
        }
        .ligne1 {
            padding: 4px 0;
            color: rgb(101,119,134);
            font-size: 13px;
            & > div:first-child{
                align-items: center;
                justify-content: flex-end;

            }
        }

    }
.content-media {

 & >div {
    padding: 2px 0;
    }
    .media img{
        display: inline-block;
        width: 100%;
        height: auto;
        margin-top: 10px;
        border-radius: 15px;
    }
}

.other_profil{
    display: flex;
    & > span{
        display: block;
        height: 25px;
        transition: 0.2s;
        i{

            font-size: 13px;
            padding: 8px;
            vertical-align: middle;
            cursor: pointer;
        }
        &:hover {
            i {
                border-radius: 99999px;
                background-color: $link-color-hover;;
            }
        }
        & > span:first-child{
            font-weight: 900;
        }
        & > span:nth-child(n+2){
            color: $color-gray;
        }
    }
    & > span:first-child{
        overflow: hidden;
        flex: 1;
    }
}
.container-ico{
    display: flex;
    justify-content: space-between;
    span{
        transition: 0.2s;
        i{
            font-size: 13px;
            padding: 8px;
            vertical-align: middle;
            cursor: pointer;
        }
        &:nth-child(1){
            color: $link-color;
        }
        &:nth-child(2){
            color: rgba(23, 191, 99, 1);
        }
        &:nth-child(3){
            color: rgba(224, 36, 94,1);
        }
        &:hover{
            i{
                border-radius: 999999px;
                background-color:  $link-color-hover;;
            }

            &:nth-child(2){
                i{
                    background-color: rgba(23, 191, 99, 0.2);
                }
            }
            &:nth-child(3){
                i{
                    background-color: rgba(224, 36, 94,0.2);
                }
            }
        }
    }

}
.container-medaillon .bubble {
    height: 49px;
}