// combine section middle and rigth
.right-section{
  div{
    display: flex;

    flex-direction: column;
  }
  & > section{
    padding: 0 15px;
  }
  .container-content {
    padding: 0 16px;
  }
}

.container-search {
  display: flex;
  height: 53px;
  & > div {

    flex: 0 308px;
    height: inherit;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    & > div{
      background-color: rgb(230, 236, 240);
      height:37px;
      justify-content: center;
      align-items: center;
    }
    & > div:first-child{
      border-top-left-radius: 99999px;
      border-bottom-left-radius: 99999px;
      padding: 0 5px 0 10px;
    }
    & > div:last-child{
      border-top-right-radius: 99999px;
      border-bottom-right-radius: 99999px;
      padding: 0 10px 0 5px;
    }
  }
  input{
    background-color: #e6ecf0;
    border: none;
    padding: 5px 0;
  }
}

.container-grid{
  margin-top: $spacing-xs;
   div{

     background-color: #e6ecf0;
  }
  & > div{
    padding: 15px 15px;
  }

  .model{
  //font-size: 14px;
    //padding: 10px 22px;
    .top{
      font-weight: 900;
      padding: 5px 0 ;
    }
    .bottom{
      color: $link-color;
      &:hover{
        color: $link-color-hover;
      }
    }
    justify-content: space-between;
  }
  .model-bottom{
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .model-top{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    justify-content: space-between;
   // padding: 10px 22px;
    border-bottom:1px solid $color-gray;
  }
  .model-center{
    justify-content: space-between;
    border-bottom:1px solid $color-gray;
    flex-direction: row;
    & > div{
      flex-direction: column;
      & >div{

      }
    }
    & > div:last-child{
      align-self: flex-start;
    }
    & > div:nth-child(2){
      align-items: baseline;
    }
    &.love > div:nth-child(2) {
      & > div:nth-child(1) {
        font-weight: 900;
      }
      & > div:nth-child(2) {
        color: $color-gray;
        display: flex;
        flex-direction: row;
      }
    }
    &.love > div:last-child {
      align-self: center;
    }
    & > div:first-child{
      align-items: flex-start;
    }
  }
}
.footer{
  nav {
    padding: 10px 15px;
    margin: 0 auto;
    font-size: 12px;
    a:hover{
      text-decoration: underline;
    }
    div {
      display: inline-block;
      &:last-child{
        display: block;
      }
    }

  }
}

.suggestion{
  div{
    font-size: 13px;
    color: $color-gray;
  }
  & > div > span {

    transition: 0.2s;

    i {

      font-size: 13px;
      padding: 8px;
      vertical-align: middle;
      cursor: pointer;
    }

    &:hover {
      i {
        border-radius: 99999px;
        background-color: $link-color-hover;
      }
    }
  }
  & > div:first-child > div{
    padding: 3px 0;
    &:nth-child(2){
      font-size: 15px;
      font-weight: 900;
      color: $color-black;
    }
  }
}