.content > div:first-child {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: auto;
}

.tabulation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 597px;
    left: 0px;
}

li.navtab {
    display: flex;
    padding: 10px 0px;
    font-weight: 600;
    text-align: center;
    color: #353232;
    align-content: center;
    justify-content: center;
    flex: 1 1 auto;
    transition: 0.2s;
   // height: 100%;
    &:hover {
        color: #1da1f2;
        background-color: rgba(29, 161, 242, 0.1);
        cursor: pointer;
    }
    &.activeTab{
        border-bottom:  1px solid $link-color;
        color : $link-color;
    }
}
.tab-pane{
    display: none;
}
.activePan{
    display: block;
}


