body{
  overflow: hidden;
}

.container > * {
  //max-width: $body-content-max-width;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  background-color: $color-white;
  border-radius: $border-radius-base;
  padding: $spacing-l;
  box-shadow: $box-shadow-base;
}

img.responsive {
  display: block;
  width: 100%;
  height: auto;
}

.bubble {
  border-radius: 99999px;
  overflow: hidden;
}
.action_profil{
  cursor: pointer;
}
.active-link{
  color: $active-link;  
}

.container-space{
  position: relative;
  padding: $spacing-div-content;
  border-bottom:  $border-site;
}
.tab-content.container-space {
  border-bottom:  $border-site;
  padding-bottom: 4px;
}

.container{
  width: 100%;
  margin: 0 auto;
  display: flex;

  .left-section{
    display: flex;
    height: 100vh;
    flex: 1 0 80px;
    justify-content: center;
  }
  .container-content{
    height: 100vh;
    overflow: hidden auto;
  }
  .right-section{
    flex: 0 0 350px;
    //width: $right-section;
    display: none;
    height: 100vh  ;

  }
  .fa-calendar-alt{
    margin-right: 5px;
  }
  .middle-section{
    //flex:1;
    flex: 1 1 100%;
    border: 1px solid #e6f3fa;
    //flex: 0 0 600px;
    //width: $middle-section;
    border: $border-site;
    height: 100vh  ;
  }

  @include tablet-portrait {
    .left-section{
      justify-content: flex-end;
    }
    .middle-section{
      flex: 0 599px;
    }
  }
  @include gwitter-min {
    &{
      width: 830px;
    }
    .header{
      width: 599px;
    }
    .left-section{
      .hide{
        display: inline-block;
        //flex: 1 0 305px;
      }
      .btnTweet{
        width: 100%;
      }
      .left-section-img{
        margin-right: 15px;
      }
      ul{
        align-items: flex-start;
        li:last-child{
          width: 100%;
        }
      }
    }
  }
  @include tablet-landscape {
    .right-section{
      display: flex;
      flex-direction: column;
    }
    .container-search{

      justify-content: center;
    }
    &{
      width:1180px;

    }
    .fixed-top{

      left: 280px;


    }
  }

  @include desktop {

  }


}