html {
  font-size: $font-size-root;
  font-family: $font-family-base;
}

body {
  background-color: $body-bg;
  color: $body-color;
  position:relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
}

#main-container {
  padding-top: $spacing-l;
  padding-bottom: $spacing-l;
}

*:before,
*:after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


li {
  list-style-type: none;
}