// COLOR

$color-white-broken:    #fafafa;
$color-white:           #fff;
$color-black:           #000;
$link-color:            rgba(29,161,242,1);
$link-color-hover:      rgba(29,161,242,0.1);

$border-site:           1px solid rgb(230,243,250);
$color-gray :           rgb(101, 119, 134);
$color-base: $color-black;

// FONT FAMILY

$font-family-base : "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;;
// FONT SIZE

$font-size-root:     15px !default;
$font-size-xs:       0.75rem;
$font-size-base:     1rem !default; // Assumes the browser default, typically `16px`
$font-size-l:        1.25rem;



// SPACING

$spacing-xs:    0.5rem;
$spacing-s:     0.75rem;
$spacing-sm:     0.9rem;
$spacing-m:     1rem;
$spacing-l:     1.25rem;
$spacing-xl:    1.5rem;
$spacing-xxl:   2rem;

$spacing-div-content: 10px 15px 0 15px;

// BORDER
$border-radius-base: 4px;

$border-radius-pagination: 5px;

$box-shadow-base:  0px 0px 5px 4px rgba(0,0,0,.4);

// BREAKPOINT

$breakpoint-mobile:             599px;
$breakpoint-tablet-portrait:    650px;//600
$breakpoint-gwitter-min:        830px;
$breakpoint-tablet-landscape:   1180px;
$breakpoint-gwitter:            1100px;
$breakpoint-desktop:            1200px;
$breakpoint-big-desktop:        1800px;


// Body
// Settings for the `<body>` element.
$body-content-max-width:    1180px;
$body-bg:                   $color-white !default;
$body-color:                $color-base !default;

$active-link :              $link-color;

$left-section :             275px;
$middle-section :           598px;
$right-section :            350px;