/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 15px;
  font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited, a:hover, a:active {
  color: inherit;
}

#main-container {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

*:before,
*:after,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  overflow: hidden;
}

.container > * {
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 1.25rem;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.4);
}

img.responsive {
  display: block;
  width: 100%;
  height: auto;
}

.bubble {
  border-radius: 99999px;
  overflow: hidden;
}

.action_profil {
  cursor: pointer;
}

.active-link {
  color: #1da1f2;
}

.container-space {
  position: relative;
  padding: 10px 15px 0 15px;
  border-bottom: 1px solid #e6f3fa;
}

.tab-content.container-space {
  border-bottom: 1px solid #e6f3fa;
  padding-bottom: 4px;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.container .left-section {
  display: flex;
  height: 100vh;
  flex: 1 0 80px;
  justify-content: center;
}
.container .container-content {
  height: 100vh;
  overflow: hidden auto;
}
.container .right-section {
  flex: 0 0 350px;
  display: none;
  height: 100vh;
}
.container .fa-calendar-alt {
  margin-right: 5px;
}
.container .middle-section {
  flex: 1 1 100%;
  border: 1px solid #e6f3fa;
  border: 1px solid #e6f3fa;
  height: 100vh;
}
@media screen and (min-width: 650px) {
  .container .left-section {
    justify-content: flex-end;
  }
  .container .middle-section {
    flex: 0 599px;
  }
}
@media screen and (min-width: 830px) {
  .container {
    width: 830px;
  }
  .container .header {
    width: 599px;
  }
  .container .left-section .hide {
    display: inline-block;
  }
  .container .left-section .btnTweet {
    width: 100%;
  }
  .container .left-section .left-section-img {
    margin-right: 15px;
  }
  .container .left-section ul {
    align-items: flex-start;
  }
  .container .left-section ul li:last-child {
    width: 100%;
  }
}
@media screen and (min-width: 1180px) {
  .container .right-section {
    display: flex;
    flex-direction: column;
  }
  .container .container-search {
    justify-content: center;
  }
  .container {
    width: 1180px;
  }
  .container .fixed-top {
    left: 280px;
  }
}
.footer {
  display: block;
}

.left-section {
  overflow: hidden auto;
}
.left-section ul {
  padding: 0 5px;
  flex-direction: column;
  flex: 0 auto;
  display: flex;
  align-items: center;
}
.left-section ul li {
  padding: 15px;
  display: flex;
  align-content: center;
  text-align: center;
  padding: 5px 0;
}
.left-section ul li a:hover > span {
  background-color: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}
.left-section ul li a > span {
  padding: 15px;
  display: flex;
}
.left-section ul li a > span span {
  font-size: 19px;
  font-weight: bold;
  vertical-align: middle;
}

.hide {
  display: none;
}

.left-section-img {
  width: 22px;
  height: 22px;
  vertical-align: middle;
}

.header {
  height: 53px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #e6f3fa;
}
.header div:nth-child(2) p:nth-child(2) {
  font-size: 12px;
  color: #657786;
  font-weight: bolder;
}

.arrow-left {
  padding: 7px;
  margin: 10px;
}
.arrow-left:hover {
  border-radius: 50%;
  background-color: rgba(29, 161, 242, 0.1);
}

.content-profil {
  background-color: #fff;
}

.header-profil {
  background-color: #ccd6dd;
  padding-bottom: 33.33%;
}

.container-action-profil {
  position: relative;
  height: 49px;
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
}
.container-action-profil span {
  align-self: center;
}

.image-profil {
  border: 2px solid white;
  width: 25%;
  position: absolute;
  overflow: hidden;
  top: -60px;
  left: 0px;
}
.image-profil img {
  display: block;
  max-width: 100%;
  min-height: 100%;
}

.container-info {
  color: #657786;
}
.container-info > p {
  display: flex;
  margin-bottom: 0.5rem;
}
.container-info > p span span {
  font-weight: bolder;
  color: black;
}
.container-info > p span:last-child span {
  margin-left: 0.9rem;
}

.ligne1:first-child {
  display: flex;
}
.ligne1:first-child > div:first-child {
  display: flex;
  font-size: 13px;
  align-items: flex-end;
}

.ligne1 > div:first-child {
  display: flex;
  font-size: 13px;
  align-items: flex-end;
}
.ligne1 > div:first-child .fas {
  display: block;
}

.container-tweet article {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e6f3fa;
  padding: 10px 20px;
}
.container-tweet article > div {
  display: flex;
}
.container-tweet article > div > div:first-child {
  flex: 0 49px;
}
.container-tweet article > div > div:last-child {
  flex-basis: 100%;
  padding-left: 8px;
}
.container-tweet article .ligne1 {
  padding: 4px 0;
  color: #657786;
  font-size: 13px;
}
.container-tweet article .ligne1 > div:first-child {
  align-items: center;
  justify-content: flex-end;
}

.content-media > div {
  padding: 2px 0;
}
.content-media .media img {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 15px;
}

.other_profil {
  display: flex;
}
.other_profil > span {
  display: block;
  height: 25px;
  transition: 0.2s;
}
.other_profil > span i {
  font-size: 13px;
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.other_profil > span:hover i {
  border-radius: 99999px;
  background-color: rgba(29, 161, 242, 0.1);
}
.other_profil > span > span:first-child {
  font-weight: 900;
}
.other_profil > span > span:nth-child(n+2) {
  color: #657786;
}
.other_profil > span:first-child {
  overflow: hidden;
  flex: 1;
}

.container-ico {
  display: flex;
  justify-content: space-between;
}
.container-ico span {
  transition: 0.2s;
}
.container-ico span i {
  font-size: 13px;
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.container-ico span:nth-child(1) {
  color: #1da1f2;
}
.container-ico span:nth-child(2) {
  color: #17bf63;
}
.container-ico span:nth-child(3) {
  color: #e0245e;
}
.container-ico span:hover i {
  border-radius: 999999px;
  background-color: rgba(29, 161, 242, 0.1);
}
.container-ico span:hover:nth-child(2) i {
  background-color: rgba(23, 191, 99, 0.2);
}
.container-ico span:hover:nth-child(3) i {
  background-color: rgba(224, 36, 94, 0.2);
}

.container-medaillon .bubble {
  height: 49px;
}

.right-section div {
  display: flex;
  flex-direction: column;
}
.right-section > section {
  padding: 0 15px;
}
.right-section .container-content {
  padding: 0 16px;
}

.container-search {
  display: flex;
  height: 53px;
}
.container-search > div {
  flex: 0 308px;
  height: inherit;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-search > div > div {
  background-color: #e6ecf0;
  height: 37px;
  justify-content: center;
  align-items: center;
}
.container-search > div > div:first-child {
  border-top-left-radius: 99999px;
  border-bottom-left-radius: 99999px;
  padding: 0 5px 0 10px;
}
.container-search > div > div:last-child {
  border-top-right-radius: 99999px;
  border-bottom-right-radius: 99999px;
  padding: 0 10px 0 5px;
}
.container-search input {
  background-color: #e6ecf0;
  border: none;
  padding: 5px 0;
}

.container-grid {
  margin-top: 0.5rem;
}
.container-grid div {
  background-color: #e6ecf0;
}
.container-grid > div {
  padding: 15px 15px;
}
.container-grid .model {
  justify-content: space-between;
}
.container-grid .model .top {
  font-weight: 900;
  padding: 5px 0;
}
.container-grid .model .bottom {
  color: #1da1f2;
}
.container-grid .model .bottom:hover {
  color: rgba(29, 161, 242, 0.1);
}
.container-grid .model-bottom {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.container-grid .model-top {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  justify-content: space-between;
  border-bottom: 1px solid #657786;
}
.container-grid .model-center {
  justify-content: space-between;
  border-bottom: 1px solid #657786;
  flex-direction: row;
}
.container-grid .model-center > div {
  flex-direction: column;
}
.container-grid .model-center > div:last-child {
  align-self: flex-start;
}
.container-grid .model-center > div:nth-child(2) {
  align-items: baseline;
}
.container-grid .model-center.love > div:nth-child(2) > div:nth-child(1) {
  font-weight: 900;
}
.container-grid .model-center.love > div:nth-child(2) > div:nth-child(2) {
  color: #657786;
  display: flex;
  flex-direction: row;
}
.container-grid .model-center.love > div:last-child {
  align-self: center;
}
.container-grid .model-center > div:first-child {
  align-items: flex-start;
}

.footer nav {
  padding: 10px 15px;
  margin: 0 auto;
  font-size: 12px;
}
.footer nav a:hover {
  text-decoration: underline;
}
.footer nav div {
  display: inline-block;
}
.footer nav div:last-child {
  display: block;
}

.suggestion div {
  font-size: 13px;
  color: #657786;
}
.suggestion > div > span {
  transition: 0.2s;
}
.suggestion > div > span i {
  font-size: 13px;
  padding: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.suggestion > div > span:hover i {
  border-radius: 99999px;
  background-color: rgba(29, 161, 242, 0.1);
}
.suggestion > div:first-child > div {
  padding: 3px 0;
}
.suggestion > div:first-child > div:nth-child(2) {
  font-size: 15px;
  font-weight: 900;
  color: #000;
}

.content > div:first-child {
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
}

.tabulation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 597px;
  left: 0px;
}

li.navtab {
  display: flex;
  padding: 10px 0px;
  font-weight: 600;
  text-align: center;
  color: #353232;
  align-content: center;
  justify-content: center;
  flex: 1 1 auto;
  transition: 0.2s;
}
li.navtab:hover {
  color: #1da1f2;
  background-color: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}
li.navtab.activeTab {
  border-bottom: 1px solid #1da1f2;
  color: #1da1f2;
}

.tab-pane {
  display: none;
}

.activePan {
  display: block;
}

.card_profil {
  display: none;
  position: relative;
}
.card_profil.visible {
  display: block;
}
.card_profil > section {
  transition: 2s;
  position: absolute;
  border-radius: 4px;
  background-color: #fff;
  padding: 15px 0;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.4);
}
.card_profil > section > div {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 5px;
  flex-direction: row;
  background-color: #fff;
}
.card_profil > section > div > div {
  background-color: #fff;
}
.card_profil > section > div > span {
  display: flex;
}
.card_profil > section > div > span:first-child {
  margin-right: 10px;
}
.card_profil > section > div > span span {
  font-weight: 900;
  padding-left: 5px;
}
.card_profil > section > div:nth-child(2) {
  flex-direction: column;
}

.container-abonnement > div {
  display: flex;
}
.container-abonnement > div:first-child {
  margin-right: 10px;
}
.container-abonnement > div:last-child {
  margin-left: 10px;
}

.container-medaillon-other {
  flex-direction: row;
}
.container-medaillon-other > div:first-child {
  height: 30px;
  flex: 0 35px;
}
.container-medaillon-other > div:last-child {
  flex: 0 100%;
  margin-left: 15px;
}

.title {
  font-size: 19px;
  font-weight: bold;
  color: #000;
  font-size: 19px;
}

.btn {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  border: 1px solid #1da1f2;
}
.btn.btnTweet {
  min-height: 49px;
  min-width: 49px;
  background-color: #1da1f2;
  color: white;
}
.btn.btnTweet:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: #1da1f2;
}
.btn.btnEdit {
  min-height: 37px;
  color: #1da1f2;
  font-weight: bold;
  padding: 0 15px;
}
.btn.btnEdit:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

/*# sourceMappingURL=index.css.map */
