@import "../base";
@import "../components/left";
@import "../components/middle";
@import "../components/right";
@import "../components/tabulation";
@import "../components/card_profig";
// .container{
//     width: 100%;
//     margin: 0 auto;
//     display: flex;
// }
.title{
    font-size: 19px;
    font-weight: bold;
    color: $color-black;
    font-size: 19px;
}

.btn{
    display: flex;
    
    font-weight: bold;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    border: 1px solid $link-color;
    &.btnTweet{
        min-height: 49px;
        min-width: 49px;
        background-color: $link-color;        
        color: white;        
        &:hover{
            background-color: $link-color-hover;
            color: $link-color;
        }
    }
    &.btnEdit {
        min-height: 37px;
        color:$link-color;
        font-weight: bold;
        padding: 0 15px;
        &:hover{
            background-color: $link-color-hover;
        }
    }  
}


